:root {
  --footer-bg-color: #012438;
  --footer-icons-color: #ffffff;
  --header-bg-color: #ffffff;
  --header-text-color: #00659f;
  --header-btext-color: #a6773f;
  --page-sec-color: #a6773f;
  --page-prim-color: #012438;
  --page-prim2-color: #00659f;
  --buttons-bg-color: #a6773f;
}