#overlay {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #212121b8;
    position: absolute;
    z-index: 999;
    width: 100vw;
    display: none;
}

#loader {
    -webkit-animation: spin 1s linear infinite;
    aimation: spin 1s linear infinite;
    border: 8px solid #ddd;
    border-top: 8px solid #42a5f5;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

@-webkit-keyframes spin {
    to {
        border-top-color: #ec407a;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        border-top-color: #ec407a;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
