/* @import "~@fortawesome/fontawesome-free/css/fontawesome.css"; */
@media (min-width: 768px){
body{
   /* padding-top: 150px !important; */
   padding-top: 40px;
   padding-bottom: 40px;
}
.blank-page .content-wrapper .flexbox-container{
    height: calc(100vh - 260px);
}

    /* menu */
    .main-menu{
        top: 150px !important;
    }
    .header-navbar .navbar-wrapper .navbar-header{
        height:150px;
    }
    .header-navbar .navbar-wrapper .navbar-header .navbar-nav,body.vertical-layout.vertical-menu .navbar .navbar-container .header-cont{
        /*height: 120px;*/
    }

}

.breadcrumbs-top .breadcrumb {
    margin-bottom: 1rem;
}

.header-navbar .navbar-container{
    padding: 0 1.8rem;
}

body,.navigation, .navigation .navigation-header{
    font-size: 0.8rem;

}
.justify-content-center{
    justify-content: center;
}

.main-menu.menu-dark .navigation>li.active>a {
    color: #00b5b8;
    font-weight: 400;
}

.text-center{
    text-align: center;
}
.d-flex{
    display:flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.text-left{
    text-align:left
}
.w-auto{
    width:auto;
}
.w-70 {
    width: 70%;
}
.w-49{
    width:49%
}
.w-50{
    width:50%;
}
.w-80{
    width:80%;
}
.w-85{
    width:85%;
}
.w-90{
    width:90%;
}
.w-95{
    width:95%;
}
.w-40{
    width:40%;
}
.w-10{
    width:10%;
}
.w-5{
    width:5%;
}
.py-half{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}
.p-half{
    padding:0.5rem;
}
.mt-half{
    margin-top: 0.5rem;
}
.btnWidth{
    min-width:8rem
}
.btn{
    /* padding:0.5rem!important; */
}
.btni{
    padding:0.2rem!important;
}
a.btni,button.btni{
    width: 1rem;
    height: 1rem;
}
.mb-half{
    margin-bottom: 0.5rem;
}
.text-right{
    text-align:right;
}
.btn-default-style {
    /* padding: 1rem 1rem; */
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .2rem
}
nav{
    border-bottom:1px solid;
}
input[type='submit']{
    background-color: #007bff;
    /* padding: 0.44rem 4rem; */
    color:#fff;
}
.card .card-title {
    text-transform: none;
}
.card a{
    color: #00b5b8
}
.dropdown-menu#saveAndCreate{
    transform: translate3d(0px, -3px, 0px)!important;
}
.divBack .btn-info{
    background-color: #11B99F    !important;
}
.saveDraftBtn,.divBack .btn.btn-primary{
    background-color: #F50!important;
    border-color: #F50!important;
}
.backBtn{
    padding: 0.5rem 2rem;
    color:#fff!important;
    line-height: 3;
}
/* .dropdown-toggle::after{
    top:5px;
} */


/* navbar */
nav.header-navbar .navbar-brand img.brand-logo{
    width:7rem !important;
}
nav.header-navbar .lang-section{
    margin-inline-start: -0.6rem;
}
nav.header-navbar .lang-section span,nav.header-navbar .lang-section a{
    color: #CBD8F0 !important;
}
/* side bar */
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > i.dolar:before{
    font-size:1.5rem;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > i.dolar{
    margin-left: 3px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header .profile-info{
    display: none; }

    body.vertical-layout.vertical-menu .navbar .navbar-header .profile-info{
        max-width: calc(100% - 50px);
    }

    .main-menu.menu-light .navigation>li.active>a,.main-menu.menu-light .navigation>li.nav-item.has-sub.open>a,
    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>span.menu-title,
    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>a.menu-title {
        color: white;
        background-color:    #1138b9;
       }

    .main-menu.menu-light .navigation>li.nav-item.has-sub.open>ul,.main-menu.menu-light ul.menu-popout li.active>a{
        background-color: transparent;
    }
        .main-menu.menu-light .navigation>li.nav-item.has-sub.open,
        body.vertical-layout.vertical-menu.menu-collapsed .main-menu .menu-content>li{
        background-color: #11b99f40;
    }
    .body.vertical-layout.vertical-menu.menu-collapsed .main-menu .menu-content{
        background-color: white;
    }
    .main-menu.menu-light .navigation>li.nav-item.has-sub.open>ul>li.active>a,
    .main-menu.menu-light .menu-content.menu-popout>li.active>a>i{
        color: inherit;
    }
    .main-menu.menu-light .navigation>li.nav-item.has-sub.open>ul>li>a>i,
    body.vertical-layout.vertical-menu.menu-collapsed .main-menu.menu-light .menu-content.menu-popout>li>a>i{
        color: #020d5e;
    }
        .main-menu.menu-light .navigation>li.nav-item.has-sub.open>ul>li.active>a>i::before,
        .main-menu.menu-light .menu-content.menu-popout>li.active>a>i::before{
        content: "\f192";
    }

    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a {
        padding: 8px;
    }

    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content,
    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>span.menu-title,
    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>a.menu-title{
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    }
    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content{
        border-radius: 0 0 5px 5px;
    }
    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>span.menu-title,
    body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>a.menu-title{
        border-radius: 5px;
    }
/* .menu-title.sales,.menu-title.reports{
    margin-left:6px;
} */

/*
.custom-control-indicator.custm{
    top: 0.485rem;
}
    #mainWelcome .jumbotron h4{
        font-size: 2rem;
    }
    .vertical-center { */
        /* height: -o-calc(100vh - 79px);  */
        /* opera */
        /* height: -webkit-calc(100vh - 79px); */
         /* google, safari */
        /* height: -moz-calc(100vh - 79px); */
         /* firefox */
        /* display: flex;
        align-items: center; */
      /* } */
    /* nav style */
    /* nav ul li a{
        font-size:1.25rem;
    }
    .dropdown-toggle.filteration::after{
        top:-14px;
    }
     */

     /* toolbar */
     .toolsbar .dropdown-toggle::after {
        content: none;
    }


  .unitInput {position: absolute;display: block; right: 0px; top: 10px;z-index: 9;font-size: 1.2rem;width: 50px;margin-right:0.5rem}

.full-border-table{
    border: 1px solid #e3ebf3;
}



/* accoutning */
.singledate.acc-statment{
    padding:0.5rem;
}
span.acc-statment.input-group-addon{
    padding: 2px 12px;
}
.acc-statment.acc-statment-select{
    height: 2.5rem!important;
}

.fontawesomeimport{
    font-size:8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fontawesomeimportarrow{
    font-size: 4rem;
}
span.importnumber{
    border: 5px solid;
    border-radius: 50%;
    padding: 0.5rem 0.8rem;
    /* font-size: 1rem; */
    margin: 1rem;
    font-weight: bold;
}

.dropdown-toggle.fontawesomearrow::after{

    top: -13px;
    padding: 0 8px 0 5px;
    font-weight: 900;
    font-size: 1.3rem;
}

/*           inputs           */
.form-control {
    padding: 0.65rem;
}
select.form-control:not([size]):not([multiple]) ,
input.form-control {
    height: calc(3.15rem - 7px);
    /* to fit inputs height */
    /* height:2.8rem; */
}
/* solve image long name problem */
label.custom-file-label {
    overflow: hidden;
    white-space: nowrap;
    padding-right: 6em;
    text-overflow: ellipsis;
}
/* drop down in product list */
#saveAndCreate{
    min-width: 120px;
}
#saveAndCreateWidth{
    width: 169px;
}

/* register form */
select.register {
    color: #9e9e9e;
  }
  option.register:not(:disabled) {
    color: black;
  }
/* login form */
  section.logo-section img.logo{
    width: 13rem;
    margin-bottom: 1rem;
}
/* buttons */

.headBtns{margin-bottom: 0.5rem; }

@media (max-width: 992px){
.headBtns button{
    text-indent: -63px;
    white-space: nowrap;
    overflow: hidden;
    min-width: 50px !important;
    width: 50px;
}

    #saveAndCreate {
        min-width: 70px;
    }

    .dropdown-menu#saveAndCreate {
        transform: translate3d(20px, -3px, 0px) !important;
    }

    #collapseNote{
        overflow-y: scroll;
    }

}
.headBtns button{font-size: 1.5rem;
    border: 2px solid transparent;
    font-family: "arbfont-bold";}
    .headBtns button img{margin-inline-start: 0.5rem;}

    .headBtns .btn.btn-primary{
        background-color: #F50 !important;
        border: 2px solid transparent !important;
    }

/* table (table-responsive) */
.table td, .table th {
    padding: .75rem;
}
.table td, .table th {
    word-break: break-word;
}
/*    Data-tables     */
    /* for long data */
/* table td{
    word-break: break-word;
} */
.table-responsive table td{
    word-break: break-word;
}
table.dataTable>tbody>tr.child ul li span.dtr-data{
    word-break: break-word;
}
    /* actions btns */
table td a.btn{
    margin-bottom: 0.1rem;
}
/* pop up */
.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.modal.centered-popup{
    top:0;
}
.modal-content.centered-popup{
    width:100%;
}
/* fontawesome icons */
.btni i{
    line-height: 1.3;
}
/*               media                   */

/*    Data-tables     */
@media(min-width:1920px){
    .long-table.table i.fa{
        font-size: 10px;
    }

    .long-table.table a.btni.btn ,.long-table.table a.delete-product{
        padding: 0.1759rem!important;
    }
}

@media(max-width:1080px){
    #productForm input[name="selling_price"], #productForm input[name="buying_price"]{
        width:100%
    }
    .btnWidth {
        width: 8rem;
        font-size: 15px;
    }
}

@media(max-width:1024px){
   .btnWidth {
        width: 8rem;
        font-size: 14px;
    }
    .btn-custom{
        font-size: 13px!important;
    }
    .btn-custom-padding {
        padding: 0.5rem;
    }
    .btnWidth.saveDraftBtn{
        width:9rem;
    }
    /* tabs-links in custom fields */
     .nav.nav-tabs.nav-linetriangle .nav-item{
         display: block;
    }
}
@media (max-width: 1199px){
.header-navbar .navbar-container ul.nav li>span{
padding: 1.4rem .4rem .8rem;
}
}
@media(max-width:812px){
    .btnWidth{
        width:10rem;
    }
    .btn-custom{
        max-width: 7.5rem;
    }
}
@media(max-width:767px){
    .btnWidth {
        width: 9rem;
    }
    .header-navbar .navbar-wrapper .navbar-header .nav.navbar-nav{
        border:none;
    }
    .mobile-user-profile{
        display: flex !important;
        align-items: flex-end;
    }
    .text-ms-center{
        text-align: center;
    }
    .mb-ms-half{
        margin-bottom: 0.5rem;
    }

}
@media (min-width: 576px){
    .modal-dialog-centered {
        min-height: calc(100% - (30px * 2));
    }
}
@media (min-width: 544px){
    .nav.nav-tabs.nav-justified .nav-item {
        width: auto;
    }
}
@media(max-width:414px){
  .actions-btn-align {
       display:block;
    }
}

@media(max-width:375px){
    /* .backBtn{
        line-height: 4;
    } */
    .action-btn-custom{
        margin-bottom:3rem!important;
    }
}
@media(max-width:320px){
    section.logo-section .login-title{
        font-size: 1.5rem;
    }
    .mb-320-2{
        margin-bottom:2rem!important
    }
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    width: 70px;
}

body.vertical-layout.vertical-menu.menu-collapsed .footer{
    margin-inline-start:70px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header {
    width: 70px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content .menu-footer{
    display: none;
}

.profile-actions a{
    width: 18px;
    height: 18px;
}

.user-avatar-cont{
    width: 50px;
    height: 50px;
}

.breadcrumb-wrapper{
    padding-inline-start: 0;
}

.arbFont-bold{
    font-family: "ArbFont-bold";
    
    font-family: 'Arbfont','Changa', sans-serif !important;

}


.arbFont-md{
    font-family: "ArbFont-md";
    
    font-family: 'Arbfont','Changa', sans-serif !important;

}

.arbFont-normal{
    font-family: "Arbfont";
    
    font-family: 'Arbfont','Changa', sans-serif !important;

}

.arbFont-lt{
    font-family: "ArbFont-lt";
}

.dataTables_wrapper .dataTables_filter >label{
    position: relative;
    color: white;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dataTables_wrapper .dataTables_filter >label::after{
    display: inline-block;
    width: 5px;
    height: 5px;
    color: #CBD8F0;
    content: "\f002";
    position: absolute;
    right: 40px;
    top: 4px;
}

.dataTables_wrapper .dataTables_filter > label > input{
    border-radius: 15px;
    height: 20px;
    padding-inline-start: 30px;
    border-color: #CBD8F0;
    width: calc(100% - 40px) !important;
}

@media (max-width: 500px){

.header-navbar.navbar-with-menu .navbar-container #navbar-mobile .header-cont {
    flex-flow: column;
}

.header-navbar.navbar-with-menu .navbar-container #navbar-mobile .header-cont >ul{
    align-items: center;
    display: flex;
    flex-flow: column;
}
}


.remove-img-btn {
    position: absolute;
    top: 0;
    right: 0;
}



.popover{
    background-color: #C3EDE7;
    border-color:#C3EDE7;
    border-radius: 2px;
}

.popover:before,.popover:after{
    border-right-color: #C3EDE7 !important;

}

.popover button.border-only{
    background-color: #C3EDE7;
    border: 1px solid #11B99F;
    border-radius: 20px;
    padding: 0 12px;
    color: #11B99F;
}
.popover button.bg-only{
    background-color: #11B99F;
    border: 1px solid #11B99F;
    border-radius: 20px;
    padding: 0 12px;
    color: white;

}
.popover i{
    color: #11B99F;

}

.popover .popover-content{
    flex-direction: column;
    padding: 10px;
}
.popover ol{
    padding-inline-start: 5px;
}

.popover li+li:before {
    content: "";
    background: #11B99F;
    width: 0;
    border-left: 0.5px solid #11B99F;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: -6px;
}
.popover li {
    position: relative;
}

.popover .rtl-position li+li:before {
    left: initial;
    right: 5px;
}
.popover.bs-tether-element-attached-right::after, .popover.popover-left::after {
    left: -10px;
    margin-top: -10px;
    border-right-color: #FFF;
    right: -20px;
    left: initial;
    /* border-left-color: #C3EDE7 !important; */
    border-right-color: transparent !important;
    border-left: 11px solid#C3EDE7 !important;
}

.popover.bs-tether-element-attached-right::before, .popover.popover-left::before {
    left: -11px;
    right: -21px;
    margin-top: -11px;
    border-right-color: rgba(0,0,0,.25);
    left: initial;
    border-left: 11px solid#C3EDE7 !important;
    border-right-color: transparent !important;
}
